# Homework

### Problem 1
In this question, we will use the csv file **Temp.csv**. 
- Read it into a data frame, call it `Temp`. (Import the packages you think you need).

In [7]:
#### Your code here
import pandas as pd

Temp = pd.read_csv('Temp.csv')
Temp.head()
# type(Temp)

         City        State  Temperature
0         NYC     New York           67
1      Albany     New York           49
2     Buffalo     New York           38
3    Hartford  Connecticut           63
4  Bridgeport  Connecticut           58

- We learned that the temperature at New Haven, Connecticut is currently 58 degree fahrenheit. Add this information into the DataFrame.

In [13]:
#### Your code here
data = {'City': 'New Haven',
        'State': 'Connecticut',
        'Temperature': 58}
# convert to DataFrame
df = pd.DataFrame(data, index = [7])

Temp = pd.concat([Temp, df], axis = 0)

- Replace the names of the states by their abbreviations. That is 
    - Connecticut --> CT
    - New Jersey  --> NJ
    - New York    --> NY

In [17]:
#### Your code here
Temp = Temp.replace('Connecticut', 'CT')
Temp = Temp.replace('New York', 'NY')
Temp = Temp.replace('New Jersey', 'NJ')
Temp

         City State  Temperature
0         NYC    NY           67
1      Albany    NY           49
2     Buffalo    NY           38
3    Hartford    CT           63
4  Bridgeport    CT           58
5      Treton    NJ           72
6      Newark    NJ           68
7   New Haven    CT           58

- Select the rows in New York.

In [18]:
#### Your code here
Temp.loc[Temp.State == 'NY',:]

      City State  Temperature
0      NYC    NY           67
1   Albany    NY           49
2  Buffalo    NY           38

- What is the average of the temperature of cities in NY?

In [20]:
#### Your code here
Temp.loc[Temp.State == 'NY',:].Temperature.mean()

51.333333333333336

- Find the mean and the standard deviation of the temperature of each state.

In [21]:
#### Your code here
Temp.groupby('State').agg(['mean', 'std'])

      Temperature
             mean        std
State
CT      59.666667   2.886751
NJ      70.000000   2.828427
NY      51.333333  14.640128

- We know the capital of each state: 
    - Connecticut --> Hartford
    - New Jersey  --> Treton
    - New York    --> Albany
    
    Create a data frame, `Capital`, with two columns: State and Capital, which should look like:
    
|| State| Capital|
| :-: |:---: | :---:|
| 0| CT  | Hartford|
| 1| NJ | Treton|
| 2| NY| Albany|

In [26]:
#### Your code here

Capital = pd.DataFrame({'State': ['CT', "NJ", 'NY'],
                        'Capital': ['Hartford', 'Treton', 'Albany']},
                       index = [0,1,2])
Capital

    Capital State
0  Hartford    CT
1    Treton    NJ
2    Albany    NY

- Mutate a new boolean column, `Capital`, to `Temp`, which is `True` if the city in the row is the capital of the state, else `False`.

In [75]:
#### Your code here
Temp["Capital"] = Temp.City.isin(Capital.Capital)
Temp

         City State  Temperature Capital
0         NYC    NY           67   False
1      Albany    NY           49    True
2     Buffalo    NY           38   False
3    Hartford    CT           63    True
4  Bridgeport    CT           58   False
5      Treton    NJ           72    True
6      Newark    NJ           68   False
7   New Haven    CT           58   False

### Problem 2

- a. Load the Gross Domestic Product data for the 190 ranked countries in the file **GDP.csv**. Load **Country.csv** into a DataFrame. 
- b. Match the data based on the country shortcode. How many of the IDs match? 
- c. Sort the data frame in descending order by GDP rank. What is the 13th country in the resulting data frame? (Note: GDP formats as 123,456,789.)
- d. What is the average GDP for the "High income: OECD" and "High income: nonOECD" group?
- e. What is the average GDP for different income groups and regions?

In [36]:
#### Your code here
# (a)
import numpy as np
import pandas as pd
gdp = pd.read_csv('GDP.csv', skiprows=range(5), header= None, usecols=[0,1,3,4], nrows=190)
gdp.columns = ['CountryCode', 'Rank', 'CountryName', 'GDP']
country = pd.read_csv('Country.csv')
gdp.head()

  CountryCode  Rank    CountryName           GDP
0         USA     1  United States   16,244,600
1         CHN     2          China    8,227,103
2         JPN     3          Japan    5,959,718
3         DEU     4        Germany    3,428,131
4         FRA     5         France    2,612,878

In [37]:
# (b)
combo = pd.merge(country, gdp, how = 'inner', on = 'CountryCode')
len(combo)

189

In [57]:
# (c)
#combo['GDP'] = combo['GDP'].str.replace(',', '').astype(int)
# combo = combo.sort_values('GDP', ascending = False)

combo.CountryName.iloc[12]   # 12 index for 13th item

'Spain'

In [68]:
# (d)d. What is the average GDP for the "High income: OECD" and "High income: nonOECD" group?
high = combo.loc[(combo['Income Group'] == 'High income: OECD') | (combo['Income Group'] == 'High income: nonOECD'), :]  

high = high.groupby('Income Group')
high.GDP.mean()

Income Group
High income: OECD       1483917
High income: nonOECD     104349
Name: GDP, dtype: int32

Income Group
High income: OECD       1483917
High income: nonOECD     104349
Name: GDP, dtype: int32

In [73]:
# (e)e. What is the average GDP for different income groups and regions?
high = combo.loc[(combo['Income Group'] == 'High income: OECD') | (combo['Income Group'] == 'High income: nonOECD'), :]  
reg = high.groupby(['Income Group','Region'])
reg.GDP.mean()

Income Group          Region
High income: OECD     East Asia & Pacific           2.197268e+06
                      Europe & Central Asia         7.567044e+05
                      Middle East & North Africa    2.582170e+05
                      North America                 9.033012e+06
High income: nonOECD  East Asia & Pacific           1.496240e+05
                      Europe & Central Asia         2.776660e+04
                      Latin America & Caribbean     2.795480e+04
                      Middle East & North Africa    2.142531e+05
                      North America                 5.474000e+03
                      Sub-Saharan Africa            1.769700e+04
Name: GDP, dtype: float64